.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--white-space);
}

header {
  max-width: 300px;
  width: 100%;
}

.nasa-logo {
  margin-top: calc(var(--white-space) / 4);
  width: 100%;
}
