.search-form {
  display: flex;
  height: 2rem;
  margin-top: 1rem;
  width: 500px;
}

.search-form__input {
  border: 1px solid #000;
  border-radius: var(--border-rad) 0 0 var(--border-rad);
  flex-grow: 1;
  font-size: 20px;
  height: inherit;
  padding: 0 0.5rem;
}

.search-form__button {
  background-color: var(--primary-clr);
  border-radius: 0 var(--border-rad) var(--border-rad) 0;
  border: 1px solid var(--primary-clr);
  height: inherit;
}
